@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@using Microsoft.AspNetCore.Http.Extensions
@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Extensions

@{
    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
    var logoutModel = new PostRedirectModel();
    // You can modify this to redirect to a different URL instead of the current one
    logoutModel.RedirectUrl = null;
}

@{
if (isLoggedIn)
{
    <div class="login-status">
        <p>@Umbraco.GetDictionaryValue("Welcome back ")<strong>@Context.User.Identity.Name</strong>!</p>
        @using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout", new { RedirectUrl = logoutModel.RedirectUrl }))
        {
            <button type="submit" class="btn btn-primary">@Umbraco.GetDictionaryValue("Log out")</button>
        }
    </div>
}
else
{
    <a class="btn btn-primary align-items-center" role="button" href="@Umbraco.Content(Guid.Parse("b6fa3b94-4d75-43ef-86ae-8b543e90f623")).Url()">@Umbraco.GetDictionaryValue("Log in")</a>
    <a class="btn btn-primary" role="button" href="@Umbraco.Content(Guid.Parse("7211c53b-ea5d-466f-aa04-15e13546a2b1")).Url()">@Umbraco.GetDictionaryValue("Sign up")</a>
}
}


